.html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

body {
  color: #000;
  font-family: "Inter", serif;
  font-weight: 500;
  font-style: normal;

  font-size: 16px;
  line-height: 1.2;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Header */

.header {
  min-height: 100vh;
  position: relative;
}

.header__top {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 40px;

  font-weight: 700;
}

.menu__btn {
  padding: 15px 58px;
  background-color: #000;
  border-radius: 30px;

  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

.header__content-images {
  text-align: center;
  padding-bottom: 50px;
}

.header__content-images::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(180deg, #cadbeb 0%, rgba(235, 235, 235, 0) 100%);
}

.title {
  padding-top: 113px;
  position: absolute;
  font-size: 210px;
  font-weight: 700;
  letter-spacing: 10px;
}

.title--pod {
  position: relative;
  z-index: -1;
}

.title--s {
  display: inline-block;
  transform: translateY(60px);
}

.title--m {
  display: inline-block;
  transform: translate(-70px, 275px);
}

.title--ax {
  display: inline-block;
  transform: translate(-140px, 413px);
  z-index: -1;
  position: relative;
}

.section__title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

/* Section choose-color */

.choose-color {
  padding: 45px 0 180px;
  text-align: center;
}

.choose-color__title {
  font-size: 36px;
  font-weight: 700;

  max-width: 560px;
  margin: 0 auto 20px;
}

.choose-color__text {
  max-width: 560px;
  margin: 0 auto 80px;
}

.choose-color__list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.choose-color__btn {
  padding: 50px 55px;
  border: 1px solid #777777;
  border-radius: 20px;
}

/* Section composition */

.composition {
  padding-bottom: 180px;
}

.composition__text {
  max-width: 660px;
  margin: 0 auto 40px;
  text-align: center;
}

.composition__inner {
  display: flex;
  justify-content: space-between;

  max-width: 625px;
  margin: 0 auto;
}

.composition__inner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;

  max-width: 230px;
}

/* Section case */

.case {
  padding: 80px 0 100px;
  background-color: #fafafa;
  text-align: center;
}

.case__text {
  max-width: 830px;
  margin: 0 auto 40px;
  text-align: center;
}

.energy__title {
  margin: 160px 0 40px;
}

.energy__num {
  font-size: 210px;
  font-weight: 700;
  margin-bottom: 40px;
}

.energy__text {
  max-width: 405px;
  margin: 0 auto;
  text-align: center;
}

.audio {
  /* position: relative; */
  background-image: url(../images/audio-full.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

/* .audio::before {
  content: "";
  background-image: url(../images/audio-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.audio::after {
  content: "";
  background-image: url(../images/sound.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  position: absolute;
  left: 0;
  right: 0;
  bottom: -250px;
  width: 100%;
  height: 150vh;
  z-index: -1;
} */

.audio__inner {
  min-height: 220vh;
  display: flex;
  justify-content: center;
  align-items: end;
}

.audio__box {
  color: #fff;
  text-align: center;

  padding-bottom: 50vh;
}

.audio__text {
  width: 300px;
  text-align: center;
  margin-bottom: 10px;
}

.btn {
  margin-top: 25px;
  padding: 15px 50px;
  background-color: #fff;
  border-radius: 30px;

  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-weight: 700;
}

/* footer */

.footer {
  padding: 50px 0 40px;
  background: #000;

  font-weight: 700;
  color: #fff;
  text-align: center;
}

.footer__text {
  padding: 20px 0;
}

.footer__list {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 1550px) {
  .choose-color__list {
    flex-wrap: wrap;
  }
  .header__content-images img {
    max-width: 100%;
  }
  .title {
    font-size: 180px;
    transform: translate(180px, 25px);
    letter-spacing: 2px;
  }
}

@media (max-width: 1373px) {
  .title {
    transform: none;
    font-size: 140px;
    padding-top: 20vh;
    text-align: center;
    left: 0;
    right: 0;
  }
  .title--pod {
    /* z-index: 1; */
  }
  .title--s {
    transform: none;
  }
  .title--m {
    transform: none;
  }
  .title--ax {
    transform: none;
  }
}

@media (max-width: 900px) {
  .title {
    position: relative;
    font-size: 100px;
    padding-top: 0;
  }

  .title--m {
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  .choose-color {
    padding-bottom: 60px;
  }
  .choose-color__list {
    gap: 16px;
  }
  .section__title {
    font-size: 36px;
  }
  .composition {
    padding-bottom: 60px;
  }
  .case {
    padding: 60px 0;
  }
  .energy__title {
    margin: 60px 0 20px;
  }
  .energy__num {
    margin-bottom: 20px;
    font-size: 110px;
  }
  .title {
    font-size: 58px;
  }
}

@media (max-width: 700px) {
  .header {
    min-height: 100%;
  }
}

@media (max-width: 560px) {
  .choose-color__text {
    margin-bottom: 40px;
  }
  .choose-color {
    padding-bottom: 40px;
  }
  .case {
    padding: 40px 0;
  }
  .case img {
    max-width: 100%;
  }
  .composition__inner {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .composition__inner-text {
    max-width: 100%;
  }
  .menu__list {
    flex-wrap: wrap;
    gap: 20px 40px;
  }
  .menu__item--btn {
    margin-left: auto;
  }
  .menu__item--btn button {
    width: 250px;
    padding: 15px 0px;
  }
  .menu__item:first-child {
    margin-left: auto;
  }
  .header__top {
    align-items: start;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 44px;
  }
}

@media (max-width: 414px) {
  .section__title,
  .choose-color__title {
    font-size: 28px;
  }

  .energy__num {
    font-size: 92px;
  }
}
